<h2 mat-dialog-title>Porte Empresarial</h2>
<mat-dialog-content class="mat-typography">
  <p>O porte empresarial refere-se à classificação do tamanho da empresa, com base em critérios como faturamento anual e número de funcionários.</p>

  <p><strong>Micro</strong> - Fatura até R$360 mil por ano.</p>
  <p><strong>Pequena</strong> - Fatura até R$4,8 milhões por ano.</p>
  <p><strong>Média</strong> - Fatura mais que R$4,8 milhões por ano e possui até 499 funcionários.</p>
  <p><strong>Grande</strong> - Fatura mais que R$ 4,8 milhões por ano e possui mais de 499 funcionários.</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-flat-button  color="primary" mat-dialog-close>Fechar</button>
</mat-dialog-actions>
