.linha-credito {
  border-right: solid;
  border-width: 1px;
  border-color: lightgray;
  padding-right: 1em;
}

small {
  margin-top: 1em;
}

button {
  width:fit-content
}

.quebra-texto {
  word-break: break-word;
}
